body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:10px;
    top:11px;
    width:790px;
    height:519px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:790px;
    height:519px;
}

.u1 {
    position:absolute;
    left:2px;
    top:252px;
    width:786px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:11px;
    width:790px;
    height:519px
}

.u2 {
    position:absolute;
    left:619px;
    top:60px;
    width:90px;
    height:20px
}

.u3 {
    position:absolute;
    left:479px;
    top:60px;
    width:60px;
    height:30px
}

.u4 {
    position:absolute;
    left:539px;
    top:60px;
    width:40px;
    height:20px
}

.u5 {
    position:absolute;
    left:579px;
    top:60px;
    width:40px;
    height:20px
}

