body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:880px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:880px;
}

.u1 {
    position:absolute;
    left:2px;
    top:432px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:10px;
    width:480px;
    height:880px
}

.u2_original {
    background-image: url('../未登录_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:29px;
    top:455px;
    width:180px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:29px;
    top:455px;
    width:180px;
    height:20px
}

.u4_original {
    background-image: url('../未登录_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:236px;
    top:456px;
    width:25px;
    height:19px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:19px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:236px;
    top:456px;
    width:25px;
    height:19px
}

.u6 {
    position:absolute;
    left:351px;
    top:291px;
    width:130px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_text_sketch {
    font-family: 'Applied Font';
}

.u7_original {
    background-image: url('../未登录_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:30px;
    top:115px;
    width:180px;
    height:25px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:31px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:30px;
    top:115px;
    width:180px;
    height:25px
}

.u9 {
    position:absolute;
    left:36px;
    top:117px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_original {
    background-image: url('../未登录_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:442px;
    top:100px;
    width:48px;
    height:48px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:48px;
}

.u11 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:442px;
    top:100px;
    width:48px;
    height:48px
}

.u12 {
    position:absolute;
    left:20px;
    top:90px;
    width:170px;
    height:60px
}

.u13 {
    position:absolute;
    left:340px;
    top:280px;
    width:150px;
    height:60px
}

.u14 {
    position:absolute;
    left:190px;
    top:340px;
    width:120px;
    height:120px
}

.u15 {
    position:absolute;
    left:30px;
    top:620px;
    width:330px;
    height:60px
}

